.info-container {
  padding: 3rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  width: 80vw;
  height: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Titres */
.info-container h1 {
  text-align: center;
  font-size: 2rem;
}

.info-container h2,
.info-container h3 {
  color: #1a9f13; 
  font-size: larger;
}

/* Texte en italique */
em {
  color: grey;
}

/* Liens */
.info-container a {
  color: #007BFF;
  text-decoration: none;
}

.info-container a:hover {
  text-decoration: underline;
}

/* Liste des éléments importants */
.info-container ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.info-container ul li strong {
  color: #FF6347;
}