@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #A1E3FF, #F0F9FF);
    color: #333;
    height: auto; /* Ajuste la hauteur selon le contenu */
    overflow-x: hidden; /* Évite le défilement horizontal inutile */
    overflow-y: auto; /* Active le défilement vertical */
  }
  
  
  .accueil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    position: relative;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .title {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 3.5rem; 
    color: #333; 
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0; 
    text-align: left; 
    display: inline-block; 
  }
  
  
  .buttons-header {
    display: flex;
    gap: 10px;
  }
  
  .button {
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  .refaire {
    background-color: #008CFF;
    color: white;
  }
  
  .sortir {
    background-color: #FF5757;
    color: white;
  }

  
  
  #logo {
    width: 120px;

  }
  
  .description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .highlight {
    font-weight: bold;
    color: #FF5757;
  }
  
  .anonymat {
    font-style: italic;
    color: #666;
  }
  
  .commencer-button {
    background-color: #FFD700;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .commencer-button:hover {
    background-color: #FFC107;
  }
  
 #anonyme {
  background-color: #CEDEB3;
 }