.reponses-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-self: flex-end;
  align-items: end;
}

.choice-button {
  padding: 1rem 2rem;
  background-color: #1D8EFE;
  width: fit-content;
  border-radius: 2rem 2rem 0 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid #0B85FE;
  font-weight: bolder;
  color: white;
  font-size: larger;
  transition: background-color .15s ease-in-out;
}

.choice-button:hover {
  background-color: #017AF4;
  cursor: pointer;
}
