button.quiz {
    background-color: #FFD664;
    color: rgb(0, 0, 0);
    font-size: 24px; 
    font-weight: bold; 
    border-radius: 8px; 
    padding: 10px 20px;
    cursor: pointer; 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
  }
  
  button.quiz:hover {
    background-color: #fbc01e; 
    color: #0b0404; 
  }
  
  button.quiz:active {
    transform: scale(0.95); 
  }
  

  