/* Styles de base pour l'application */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grand-conteneur {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.question-container {
  width: 590px;
  height: 93px;
  background-color: #FBFBFB; 
  border-radius: 10px;
  padding: 20px 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  box-shadow: 
0 0 0 0px #e7e6e7, 
0 0 0 4px #d3d2d3, 
0 0 0 5px #a7a6a7, 
0 0 0 6px #767576,  
0 0 0 7px #555455,  
0 0 0 10px #fbfbfb; 

}

.reponses-container {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  align-self: flex-end;
  width: 590px;
}

.choice-button {
  width: 100%;
  height: 93px;
  border-radius: 10px;
  padding: 20px 12px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  background-color: transparent; 
  box-shadow: none; 
  margin-bottom: 20px;
}


.choice-oui {
  background-color: #c3d7a2;
  box-shadow: 
  0 0 0 0px #c3d7a2,  
  0 0 0 4px #a7c17c, 
  0 0 0 5px #8bab56,
  0 0 0 6px #769249, 
  0 0 0 7px #5e733c,  
  0 0 0 10px white; 
}

.choice-non {
  background-color: #f5b694;
  box-shadow: 
  0 0 0 0px #f29a7a, 
  0 0 0 4px #ee8762,  
  0 0 0 5px #eb764c,  
  0 0 0 6px #e25f30,  
  0 0 0 7px #c24a1f, 
  0 0 0 10px white; 


    
}

